.show {
    margin-top: 5px;
}
.dropdown-menu {
    width: 265px;
    height: 220px;
    background: #FFFFFF;
    border-radius: 4px;

}
.dropdown-menu li{
    padding-left: 17px;
    padding: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.navbar-nav>li {
    margin: auto;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    margin-left: -100px;
}
.avatar-drop {
    float: left;
}
.avatar-detail{
    max-width: 45px;
}
.info-user {
    padding-left: 55px;
}
.info-user p {
    margin-bottom: 0px !important;   
}
.email-user{
    color: #505D68 !important;
}
.dropdown-user{
    position: absolute;
    margin-right: 265px;
}
.dropdown li a {
    color: #505D68;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}