.user-setting label {
    font-size: 13px !important;
    color: #03030366 !important;
}
.avatar-user{
    float: left;
}
.sidebar img {
    width: 100%;
    margin: 10px;
}
.main_info_user {
    margin-left: 30%;
}
.reset-account {

}
